<%= stylesheet_link_tag "snacks", property: "stylesheet" %>
<%= javascript_include_tag "snacks" %>
<%= javascript_include_tag "index-map" %>
  <div class="container" data-ng-app="snackApp">

<<<<<<< HEAD
<div class="container" data-ng-app="snackApp">
  <header class="page-header">
    <h1> <a data-ui-sref="index" href="#">Snack App </a><h1>
    </header>
=======
  <h1> <a class="top-header"data-ui-sref="index">Snack App </a><h1>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/DtOJsFLieFE" frameborder="0" allowfullscreen></iframe> -->
>>>>>>> 1d351948d87190f88ee344a240bd4b02e4897c58

    <main data-ui-view></main>

  </div>
