<%= stylesheet_link_tag "snacks", property: "stylesheet" %>
<%= javascript_include_tag "snacks" %>

<div class="container" data-ng-app="snackApp">
  <header class="page-header">
    <h1> <a data-ui-sref="index" href="#">Snack App </a><h1>
    </header>

    <main data-ui-view></main>

  </div>
