<%= stylesheet_link_tag "snacks", property: "stylesheet" %>
<%= javascript_include_tag "snacks" %>
<%= javascript_include_tag "index-map" %>
  <div class="container" data-ng-app="snackApp">

  <h1> <a class="top-header"data-ui-sref="index">Snack App </a><h1>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/DtOJsFLieFE" frameborder="0" allowfullscreen></iframe> -->

    <main data-ui-view></main>

  </div>
