<div class="col-md-6">
  <h4><a data-ui-sref="index">HOME / SNACK INDEX</a></h4>
  <h2>{{SnackShowVM.snack.name}}</h2>
</div>

<div class="col-md-12">
  <img class="img-responsive" data-ng-src="{{SnackShowVM.snack.image_url}}" alt="{{SnackShowVM.snack.name}}" height="300" width="300"/>
  <input data-ng-show="SnackShowVM.toggleForm == true" type="text" data-ng-model="SnackShowVM.snack.image_url">
</div>

<table class="table">
  <thead>
    <tr  class="info">
      <th>Country</th>
      <th>Description</th>
      <th>Mood</th>
      <th>Taste</th>
      <th>Nutrtition Level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>{{SnackShowVM.snack.country}}</p>
      </td>
      <td>
        <p>{{SnackShowVM.snack.description}}</p>
        <td>
          <p>{{SnackShowVM.snack.mood}}</p>
        </td>
        <td>
          <p>{{SnackShowVM.snack.taste}}</p>
        </td>
        <td>
          <p>{{SnackShowVM.snack.nutrition_level}}</p>
        </td>
      </tr>
    </tbody>
  </table>


  <h5>Click <a href="{{SnackShowVM.snack.seller_url}}"> <strong>here</strong> </a> to buy this delectable treat.</h5>


  <div data-snack-form data-snack="SnackShowVM.snack"></div>
</span>

<h5>Add your opinion below</h5>

<form>
  <div class="form-group">
    <label for="commentName">Name</label>
    <input class="form-control" placeholder="What's your name?" data-ng-model="SnackShowVM.comment.name"/>
  </div>
  <div class="form-group">
    <label for="commentMessage">Message</label>
    <textarea class="form-control" rows="3" placeholder="Share thoughts about {{SnackShowVM.snack.name}}" data-ng-model="SnackShowVM.comment.message"></textarea>
  </div>
  <button type="submit" class="btn btn-success" data-ng-click="SnackShowVM.create()">Add Comment</button>
</form>
