<section data-ng-controller="IndexController as vm">
  <header>
    <h3>SEARCH
    <input type="text" class="form-control" placeholder="search snacks" id="search-box" data-ng-model="vm.countryCategory">
    </h3>
  </header>
<h2>Filter By Country:</h2>
<div id="container countries-holder text-center">
  <a class="country-links" href="#" data-ng-click="vm.countrySearch('')">All</a>
  <div class="country-categories" data-ng-repeat="country in vm.countriesFound | orderBy: country">
      |<a class="country-links" href="#" data-ng-click="vm.countrySearch(country)">&nbsp;{{country}}&nbsp;</a>

</div>
  <!-- <h2>TASTE:</h2>
  <h2>MOOD:</h2>
  <h2>NUTRITION LEVEL:</h2> -->

<h1>SNACKS</h1>
  <div data-ng-repeat="snack in vm.snacks | orderBy: 'name' | filter: vm.countryCategory | filter: search ">
    <div>
      <h2><a data-ui-sref="show({id: snack.id})">{{snack.name}}</a></h2>
      <h4>{{snack.country}}</h4>
    </div>
</section>
