<form >
    <input placeholder="Name" data-ng-model="snack.name" />
    <input placeholder="Image" data-ng-model="snack.image_url" />
    <input placeholder="Country" data-ng-model="snack.country" />
    <textarea placeholder="Description" data-ng-model="snack.description" />
    <input placeholder="Mood" data-ng-model="snack.mood" />
    <input placeholder="taste" data-ng-model="snack.taste" />
    <input placeholder="Nutrition_level" data-ng-model="snack.nutrition_level" />
    <input placeholder="Seller_url" data-ng-model="snack.seller_url" />




  <button type="button" data-ng-click="create()">Create</button>
  <button type="button" data-ng-click="update()">Update</button>


</form>
