<h2>{{SnackShowVM.snack.name}}</h2>
<button data-ng-click="SnackShowVM.editSnack()" type="button" class="showEdit">Edit Snack</button>

<img data-ng-src="{{SnackShowVM.snack.image_url}}" src="#" alt="SnackShowVMsnack.name" />
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.image_url">

<!-- <p>{{SnackShowVM.snack.like}}</p> -->
<!-- <video data-ng-src="{{SnackShowVM.snack.video_url}}" ></video> -->

<p>{{SnackShowVM.snack.country}}</p>
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.country">

<p>{{SnackShowVM.snack.description}}</p>
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.description">

<p>Good for</p>
<p>Mood: {{SnackShowVM.snack.mood}},
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.mood">

  Taste: {{SnackShowVM.snack.taste}},
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.taste">

  Nutrition Level: {{SnackShowVM.snack.nutrition_level}}</p>
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.nutrition_level">

<p><a href="{{SnackShowVM.snack.seller_url}}">Buyer Info </a> </p>
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.seller_url">

<p>Add Comment:</p>

<form>
  <input placeholder="Name" data-ng-model="SnackShowVM.comment.name"/>
  <input placeholder="Message" data-ng-model="SnackShowVM.comment.message"/>
  <button type="button" data-ng-click="SnackShowVM.create()">Add Comment</button>
</form>

<p>Comments:</p>
<!-- ng repeat needed to loop through comments -->
<div data-ng-repeat="comment in CommentIndexViewModel.comments | orderBy: '-created_at'">
  <p> {{comment.name}}: {{comment.message}}</p>
</div>
