<!-- <<<<<<< HEAD -->
<div class="col-md-6">
  <h4><a data-ui-sref="index">HOME / SNACK INDEX</a></h4>
  <h2>{{SnackShowVM.snack.name}}&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>:{{SnackShowVM.snack.likes}}</h2>
</div>
<div class="col-md-6">
  <button data-ng-click="SnackShowVM.editSnack()" type="button" class="showEdit pull-right">Edit Snack</button>
</div>

<div class="col-md-12">
  <img class="img-responsive" data-ng-src="{{SnackShowVM.snack.image_url}}" alt="{{SnackShowVM.snack.name}}" height="300" width="300"/>
  <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.image_url">
</div>
<!-- ======= -->
<!-- <h4><a data-ui-sref="index">HOME / SNACK INDEX</a></h4> -->

<!-- <h2>{{SnackShowVM.snack.name}}&nbsp;<span class="glyphicon glyphicon-thumbs-up">:{{SnackShowVM.snack.likes}}</h2> -->
<!-- <button data-ng-click="SnackShowVM.editSnack()" type="button" class="showEdit">Edit Snack</button> -->

<img data-ng-src="{{SnackShowVM.snack.image_url}}" src="#" alt="SnackShowVM.snack.name" />
<input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.image_url">
<!-- >>>>>>> 1d351948d87190f88ee344a240bd4b02e4897c58 -->

<!-- <p>{{SnackShowVM.snack.like}}</p> -->
<!-- <video data-ng-src="{{SnackShowVM.snack.video_url}}" ></video> -->
<table class="table">
  <thead>
    <tr  class="info">
      <th>Country</th>
      <th>Type</th>
      <th>Mood</th>
      <th>Taste</th>
      <th>Nutrtition Level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>{{SnackShowVM.snack.country}}</p>
        <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.country">
      </td>
      <td>
        <p>{{SnackShowVM.snack.description}}</p>
        <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.description">    </td>
        <td>
          <!-- <p>Good for</p> -->
          <p>{{SnackShowVM.snack.mood}}</p>
          <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.mood">
        </td>
        <td>
          <p>{{SnackShowVM.snack.taste}}</p>
          <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.taste">
        </td>
        <td>
          <p>{{SnackShowVM.snack.nutrition_level}}</p>
          <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.nutrition_level">
        </td>
      </tr>
    </tbody>
  </table>
  <h5>Click <a href="{{SnackShowVM.snack.seller_url}}"> <strong>here</strong> </a> to buy this delectable treat.</h5>
  <input ng-show="SnackShowVM.toggleForm == true" type="text" ng-model="SnackShowVM.snack.seller_url">






  <h5>What others are saying about {{SnackShowVM.snack.name}}</h5>
  <!-- ng repeat needed to loop through comments -->
  <div data-ng-repeat="comment in CommentIndexViewModel.comments | orderBy: '-created_at'">
    <div class="panel">
      <div class="panel-heading">
        <p><strong>{{comment.name}}</strong></p>
      </div>
      <div class="panel-body">
        <p>{{comment.message}}</p>
      </div>
    </div>
  </div>

  <h5>Add your opinion below</h5>

  <form>
    <div class="form-group">
      <label for="commentName">Name</label>
      <input class="form-control" placeholder="What's your name?" data-ng-model="SnackShowVM.comment.name"/>
    </div>
    <div class="form-group">
      <label for="commentMessage">Message</label>
      <textarea class="form-control" rows="3" placeholder="Share thoughts about {{SnackShowVM.snack.name}}" data-ng-model="SnackShowVM.comment.message"></textarea>
    </div>
    <button type="submit" class="btn btn-default" data-ng-click="SnackShowVM.create()">Add Comment</button>
  </form>
