<h2>{{SnackShowVM.snack.name}}</h2>

<img data-ng-src="{{SnackShowVM.snack.image_url}}" src="#" alt="SnackShowVM.snack.name" />

<!-- <p>{{SnackShowVM.snack.like}}</p> -->
<!-- <video data-ng-src="{{SnackShowVM.snack.video_url}}" ></video> -->

<p>{{SnackShowVM.snack.country}}</p>

<p>{{SnackShowVM.snack.description}}</p>

<p>Mood: {{SnackShowVM.snack.mood}}</p>

<p>Taste: {{SnackShowVM.snack.taste}}</p>

<p>Nutrition Level: {{SnackShowVM.snack.nutrition_level}}</p>

<p><a href="{{SnackShowVM.snack.seller_url}}">Buyer Info </a> </p>


<button data-ng-click="SnackShowVM.editSnack()" type="button" class="showEdit">Edit Snack</button>
<!-- <div data-snack-form data-snack="SnackShowVM.snack"></div> -->


<p>Add Comment:</p>

<form>
  <input placeholder="Name" data-ng-model="SnackShowVM.comment.name"/>
  <input placeholder="Message" data-ng-model="SnackShowVM.comment.message"/>
  <button type="button" data-ng-click="SnackShowVM.create()">Add Comment</button>
</form>

<p>Comments:</p>
<!-- ng repeat needed to loop through comments -->
<div data-ng-repeat="comment in CommentIndexViewModel.comments | orderBy: '-created_at'">
  <p> {{comment.name}}: {{comment.message}}</p>
</div>
