
<!-- <div id="map-holder">
<div id="floating-panel">
<input id="address" type="textbox" value="Sydney, NSW">
<input id="submit" type="button" value="Geocode">
</div> -->
<!-- <div id="map"></div>
</div> -->

<section data-ng-controller="IndexController as vm">
  <div class="search-add">
      <div class="page-controls search-control">
          <h3>SEARCH
            <!-- <<<<<<< HEAD -->
            <input type="text" class="form-control" placeholder="search snacks" id="address" class="search-box" data-ng-model="vm.countryCategory">
          </h3>
      </div>
      <div class="page-controls add-btn">
        <a data-ui-sref="new"><button type="button">Add New Snack</button></a>
      </div>
  </div>


  <!-- <h1>Filter By:</h1>
  <h2>COUNTRY:</h2> -->
  <nav class="navbar navbar-default">
    <h2>Filter By Country</h2>
    <div class="container-fluid">
      <a class="country-links navbar-brand" href="#" data-ng-click="vm.countrySearch('')">All</a>
      <div class="navbar-header" id="countries-holder" data-ng-repeat="country in vm.countriesFound | orderBy: country">
        <a class="navbar-brand" href="#" class="country-links" data-ng-click="vm.countrySearch(country)">{{country}}</a>
      </div>
    </div>
  </nav>

  <div class="col-md-12">
    <div class="embed-responisve">
      <iframe src="https://www.youtube.com/embed/DtOJsFLieFE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


  <!-- <h2>TASTE:</h2>
  <h2>MOOD:</h2>
  <h2>NUTRITION LEVEL:</h2> -->

  <h1>SNACKS</h1>


<div class='container snacks-container'>
    <div class="row">
    <div class="col-xs-2 snack-tile" data-ng-repeat="snack in vm.snacks | orderBy: '-created_at' | filter: vm.countryCategory | filter: search ">
      <a data-ui-sref="show({id: snack.id})">{{snack.name}}</a>
          <!-- &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>:{{snack.likes}} -->

        {{snack.country}}
        <img class="img-responsive img-rounded" alt="{{snack.name}}" height="100" width="100" data-ng-src="{{snack.image_url}}" />
      </div>
    </div>
  </div>

</section>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZxp0qiKTJ205kCk06-bIIgY_UiF-kwDs&callback=initMap">
</script>
